// main: ../estilos.scss
body{
    color: $color-gris;
    font-weight: normal;
    width: 100%;
    max-width: 100%;
    font-family: $basefont;
    font-size: $basefontsize;
    -webkit-font-smoothing: antialiased;
}
body,html{
    max-width: 100%;
}
body, .smooth-container { scroll-behavior: smooth }
p{
  font-size: $basefontsize;
  line-height: 1.4em;
  font-weight: 300;
  margin-top: 0;
  b{
    font-weight: bold;
    &.azul {
        color: $color-azul;
    }
  }
  a {
    color: $color-azul;
    text-decoration: underline;
    font-weight: bold;
  }
}



figure {
  margin: 0;
}

.clear{
    clear: both;
}

.wow{
    visibility: hidden;
}
.fadein {
    opacity: 0;
}

 .hidden_a{
    opacity: 0;
 }

.visible{
    opacity: 1;
}

.wrapper{
    position: relative;
}
.wrapper.wrapper-home{
    padding-top: 148px;
}

.wrap{
    width: 100%;
    margin: 0 auto;
    padding: 0 $wrap1;
    @include respond-to(1500px) { padding: 0 $wrap2; }
    @include respond-to(1200px) { padding: 0 $wrap3; }
    @include respond-to(640px) { padding: 0 $wrap4; }
}

*, ::after, ::before {
    box-sizing: border-box;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.row.row-small {
  margin-right: -10px;
  margin-left: -10px;
}
.row.row-small > [class^="col-"],
.row.row-small > [class*=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
.row.row-big {
  margin-right: -50px;
  margin-left: -50px;
}
.row.row-big > [class^="col-"],
.row.row-big > [class*=" col-"] {
  padding-right: 50px;
  padding-left: 50px;
}
.row.row-20 {
  margin-right: -10px;
  margin-left: -10px;
}
.row.row-20 > [class^="col-"],
.row.row-20 > [class*=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
.flex-stretch{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-between{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-between-top{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
}
.flex-center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-center-column{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
}
.flex-top{
  -webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
}
.flex-top2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
}
.flex-left{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}

* {
  outline: none;
}

a,button{
  transition: all 0.3s ease;
}
a {
    text-decoration: none;
}

a:hover {
    color: #088;
    text-decoration: none;
}

.p-1 {
  padding-top: $p-1;
  padding-bottom: $p-1;
}
.p-2 {
  padding-top: $p-2;
  padding-bottom: $p-2;
}
.p-3 {
  padding-top: $p-3;
  padding-bottom: $p-3;
}
.p-4 {
  padding-top: $p-4;
  padding-bottom: $p-4;
}
.pt-1 {
  padding-top: $p-1;
}
.pt-2 {
  padding-top: $p-2;
}
.pt-3 {
  padding-top: $p-3;
}
.pt-4 {
  padding-top: $p-4;
}
.pb-1 {
  padding-bottom: $p-1;
}
.pb-2 {
  padding-bottom: $p-2;
}
.pb-3 {
  padding-bottom: $p-3;
}
.pb-4 {
  padding-bottom: $p-4;
}

.t-2{
  color: $color-gris;
  font-size: 1.7em;
  margin: 0 0 20px;
  font-weight: bold;
  span.azul {
    font-weight: bold;
    color: $color-azul;
  }
  &.azul-oscuro {
    color: $color-azul-oscuro
  }
  &.blanco {
    color: #fff;
  }
  &.c-m {
    margin-bottom: 50px;
    @include respond-to(1500px){
      margin-bottom: 30px;
    }
  }
}
.t-3{
  margin: 0 0 20px;
  font-size: 1.25em;
  font-weight: bold;
  color: #414141;
}
.t-5{
  margin: 0 0 5px;
  font-size: 1em;
  font-weight: 300;
  color: #A2A2A2;
}
.bg-celeste {
  background: #D1E4F7;
}
.bg-azul {
  background: #597EA3;
}


.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.a-right {
  margin-right: -$wrap1;

  @include respond-to(1500px){
    margin-right: -$wrap2;
  }
  @include respond-to(1200px){
    margin-right: -$wrap3;
  }
  @include respond-to(991px){
    margin-right: 0;
  }
}


@media (max-width: 1500px) {
  body,p {
    font-size: 17px;
  }
  .p-1 {
    padding-top: $p-1*.7;
    padding-bottom: $p-1*.7;
  }
  .p-2 {
    padding-top: $p-2*.7;
    padding-bottom: $p-2*.7;
  }
  .p-3 {
    padding-top: $p-3*.7;
    padding-bottom: $p-3*.7;
  }
  .p-3 {
    padding-top: $p-3*.7;
    padding-bottom: $p-3*.7;
  }
  .p-4 {
    padding-top: $p-4*.7;
    padding-bottom: $p-4*.7;
  }
  .pt-1 {
    padding-top: $p-1*.7;
  }
  .pt-2 {
    padding-top: $p-2*.7;
  }
  .pt-3 {
    padding-top: $p-3*.7;
  }
  .pt-4 {
    padding-top: $p-4*.7;
  }
  .pb-1 {
    padding-bottom: $p-1*.7;
  }
  .pb-2 {
    padding-bottom: $p-2*.7;
  }
  .pb-3 {
    padding-bottom: $p-3*.7;
  }
  .pb-4 {
    padding-bottom: $p-4*.7;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  .flex-between,
  .flex-between-top{
    -ms-flex-wrap: wrap;
       flex-wrap: wrap;
  }
}

@media (max-width: 768px) {

    .animated,
    .animated-delay1,
    .animated-delay2,
    .animated-delay3,
    .animated-delay4,
    .wow {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        visibility: visible !important;
    }

    .p-1 {
      padding-top: $p-1*.5;
      padding-bottom: $p-1*.5;
    }
    .p-2 {
      padding-top: $p-2*.5;
      padding-bottom: $p-2*.5;
    }
    .p-3 {
      padding-top: $p-3*.5;
      padding-bottom: $p-3*.5;
    }
    .p-4 {
      padding-top: $p-4*.5;
      padding-bottom: $p-4*.5;
    }
    .pt-1 {
      padding-top: $p-1*.5;
    }
    .pt-2 {
      padding-top: $p-2*.5;
    }
    .pt-3 {
      padding-top: $p-3*.5;
    }
    .pt-4 {
      padding-top: $p-4*.5;
    }
    .pb-1 {
      padding-bottom: $p-1*.5;
    }
    .pb-2 {
      padding-bottom: $p-2*.5;
    }
    .pb-3 {
      padding-bottom: $p-3*.5;
    }
    .pb-4 {
      padding-bottom: $p-4*.5;
    }
}

@media (max-width: 640px) {

}

@media (max-width: 480px) {

}

@media (max-width: 320px) {
}
